#waybar {
    background: rgba(0, 0, 0, 0); /* Transparent background */
    border-bottom: 2px solid #504945; /* Gruvbox color */
}

#workspaces button {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent with rounded corners */
    border-radius: 5px;
    margin: 0 2px;
}

#workspaces button.focused {
    background: #d65d0e; /* Highlight color for active workspace */
}

window, #calendar, #clock, #pulseaudio, #custom-packages, #custom-gmail {
    color: rgba(255, 255, 255, 0.9); /* 90% opacity for text */
}

.tooltip {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.9); /* Tooltip background */
}

